<!--<footer class="footer">-->
<!--&lt;!&ndash;  <div class="row align-items-center justify-content-xl-between">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col-xl-6">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="copyright text-center text-xl-left text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;        &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col-xl-6">&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="nav nav-footer justify-content-center justify-content-xl-end">&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Creative Tim</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="https://www.creative-tim.com/presentation?ref=ada-footer-admin-layout" class="nav-link" target="_blank">About Us</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="http://blog.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Blog</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</footer>-->
